# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Tema4/Ejercicio16/nbproject/private/
/Tema4/Ejercicio16/build/
/Tema4/Ejercicio17/nbproject/private/
/Tema4/Ejercicio17/build/
/Tema4/Ejercicio18/nbproject/private/
/Tema4/Ejercicio18/build/
/Tema4/Ejercicio19/nbproject/private/
/Tema4/Ejercicio19/build/
/Tema4/Ejercicio20/nbproject/private/
/Tema4/Ejercicio20/build/
/Tema4/Ejercicio21/nbproject/private/
/Tema4/Ejercicio21/build/
/Tema4/Ejercicio22/nbproject/private/
/Tema4/Ejercicio22/build/
/Tema4/Ejercicio23/nbproject/private/
/Tema4/Ejercicio23/build/
/Tema4/Ejercicio24/nbproject/private/
/Tema4/Ejercicio24/build/
/Tema4/Ejercicio25/nbproject/private/
/Tema4/Ejercicio25/build/
/Tema4/Ejercicio26/nbproject/private/
/Tema4/Ejercicio26/build/
/Tema4/Ejercicio27/nbproject/private/
/Tema4/Ejercicio27/build/
/Tema5/PruebaClase/nbproject/private/
/Tema5/EjercicioCarniceria/nbproject/private/
/Tema5/EjercicioCarniceria/build/
/Tema5/Ejercicio01/nbproject/private/
/Tema5/Ejercicio01/build/
/Tema5/Ejercicio02/nbproject/private/
/EjercicioExamen/nbproject/private/
/EjercicioExamen/build/
/EjercicioExamen/dist/
/Ejercicio16/nbproject/private/
/Ejercicio16/build/
/Ejercicio17/nbproject/private/
/Ejercicio17/build/
/Ejercicio18/nbproject/private/
/Ejercicio18/build/
/Tema5/Ejercicio19/build/
/Tema6/Ejercicio1/nbproject/private/
/Tema6/Ejercicio1/build/
/Tema6/Ejercicio7/nbproject/private/
/Tema6/Ejercicio7/build/
/Tema6/Ejercicio2/nbproject/private/
/Tema6/Ejercicio2/build/
/Tema6/Ejercicio2/dist/
/Tema6/Ejercicio3/nbproject/private/
/Tema6/Ejercicio5/nbproject/private/
/Tema6/Ejercicio5/build/
/Tema6/Ejercicio6/nbproject/private/
/Tema6/Ejercicio6/build/
/Tema6/Ejercicio8/nbproject/private/
/Tema6/Ejercicio8/build/
/Entornos/ED_Ejercicio1/nbproject/private/
/Entornos/ED_Ejercicio1/build/
/Entornos/ED_Ejercicio1/dist/
/Tema6/EjercicioExamen/nbproject/private/
/Tema6/EjercicioExamen/build/
/Tema7/Ejercicio01/nbproject/private/
/Tema7/Ejercicio01/build/
/Tema6/EjercicioExamen/dist/
/Tema7/Ejercicio01/dist/
/Tema7/Ejercicio02/nbproject/private/
/Tema7/Ejercicio02/build/
/Tema7/Ejercicio3/nbproject/private/
/Tema7/Ejercicio8/nbproject/private/
/Tema7/Ejercicio9/nbproject/private/
/Tema7/Ejercicio8/build/
/Tema7/Ejercicio8/dist/
/Tema7/Ejercicio6/nbproject/private/
/Tema7/Ejercicio6/build/
/Tema7/Ejercicio9/build/
/Tema7/Ejercicio15/nbproject/private/
/Tema7/Ejercicio15/build/
/Tema7/Ejercicio15/dist/
/Tema7/Ejercicio11/nbproject/private/
/Tema7/Ejercicio4/nbproject/private/
/Tema7/Ejercicio4/build/
/Tema7/Ejercicio5/nbproject/private/
/Entornos/DepuracionEjercicio/nbproject/private/
/Entornos/Ejercicio10/nbproject/private/
/Entornos/Ejercicio16/nbproject/private/
/Entornos/Ejercicio16/build/
/Entornos/Ejercicio14/nbproject/private/
/Entornos/Ejercicio17/nbproject/private/
/Entornos/Ejercicio17/build/
/Entornos/Ejercicio19/nbproject/private/
/Entornos/Ejercicio19/build/
/Tema7/Ejercicio14/nbproject/private/
/Tema7/Ejercicio14/build/
/Tema7/Ejercicio14/dist/
/Tema7/Ejercicio18/nbproject/private/
/Tema7/Ejercicio18/build/
/Tema8/JavaApplication118/nbproject/private/
/Tema8/Ejercicio1/nbproject/private/
/Tema8/Ejercicio1/build/
/Tema8/Ejercicio7/nbproject/private/
/Tema8/Ejercicio13/nbproject/private/
/Tema8/Ejercicio13/build/
/Tema8/Ejercicio2/nbproject/private/
/Tema8/Ejercicio2/build/
/Tema8/Ejercicio6/nbproject/private/
/Entornos/JUnit_Ejercicio1/nbproject/private/
/Entornos/JUnit_Ejercicio1/build/
/Tema8/Ejercicio15/nbproject/private/
/Tema8/Ejercicio6/build/
/Entornos/JUnit_Ejercicio3/nbproject/private/
/Entornos/JUnit_Ejercicio3/build/
/Tema8/Ejercicio2/nbproject/private/
/Tema8/Ejercicio2/build/
/Tema8/Ejercicio6/nbproject/private/
